.blog-card {
    font-family: "Montserrat", sans-serif;
}

.title {
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 50px;
}

.author {
    font-style: italic;
}

.description {
    text-align: justify;
    line-height: 1.4;
}

/* text-transform -
text-transform: uppercase;  -> converts into Upper Case
text-transform: lowercase;  -> converts into Lower Case
text-transform: capitalize; -> Capitalizes first letter of every word
*/

.cta-section {
    background-color: rgb(235, 173, 16);
    color: #fff;
    padding: 40px;
    text-align: center;
    background-image: url('https://plus.unsplash.com/premium_photo-1719529320784-62161f2728d2?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxfHx8ZW58MHx8fHx8');
    background-size: cover;
    background-position: center;
}

/* 
background-size: contain;   --> repeats the image
background-repeat: no repeat;   --> used when bg-size: contain is used
background-position: center;  [left, right, top, bottom]
*/

.container {
    height: 500px;
    width: 500px;
    background-color: gray;
}

.item {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    color: #fff;
    position: relative;
}

.item1 {
    background-color: red;
}

.item2 {
    background-color: blue;
    position: fixed;
    bottom: 0px;
    right: 0px;
    /* position: absolute;
    top: 50px;
    right: 50px; */
    /* position: relative;
    top: 50px;
    left: 50px; */
}

.item3 {
    background-color: green;
}

p {
    text-align: justify;
}


/* Position:- 
------------------
static
relative
absolute
fixed
sticky

When we use position, we get access to 4 co-ordinates 
--> top, right, bottom, left


1. relative -
    - it does not come out of the flow
    - moves according to its original position

2. absolute - 
    - coming out of the flow
    - moves according to positioned parent, viewport in case of no positioned parent

3. fixed -
    - coming out of the flow
    - moves according to the viewport
    - stays at its position on scrolling
*/